
.title-img{
    object-fit: contain;

    height: 100%;
    width: 100%;

    margin-top: 3vh;
}

.bird-img{
    height: 7vh;
    width: 7vh;
}

.pipe-lower{
    object-fit: fill;
    
    height:100%;
    width: 100%;
}
.pipe-upper{
    object-fit: fill;

    height: 100%;
    width: 100%;
}

.GameOver-img{
    object-fit: contain;

    height: 100%;
    width: 100%;
}
